#
# This is used with Apache WebServers
#
# For this to work, you must include the parameter 'Options' to
# the AllowOverride configuration
#
# Example:
#
# <Directory "/usr/local/apache/htdocs">
#   AllowOverride Options
# </Directory>
#
# 'All' with also work. (This configuration is in the
# apache/conf/httpd.conf file)

# The following makes adjustments to the SSL protocol for Internet
# Explorer browsers

#<IfModule mod_setenvif.c>
#  <IfDefine SSL>
#    SetEnvIf User-Agent ".*MSIE.*" \
#             nokeepalive ssl-unclean-shutdown \
#             downgrade-1.0 force-response-1.0
#  </IfDefine>
#</IfModule>

# If Search Engine Friendly URLs do not work, try enabling the
# following Apache configuration parameter
#
# AcceptPathInfo On

# Fix certain PHP values
# (commented out by default to prevent errors occuring on certain
# servers)
#
#  php_value session.use_trans_sid 0
#  php_value register_globals 0

<IfModule mod_rewrite.c>
  AcceptPathInfo On
  RewriteEngine On
   
# RewriteBase instructions
# Change RewriteBase dependent on how your shop is accessed as below.
# http://www.mysite.com = RewriteBase /
# http://www.mysite.com/catalog/ = RewriteBase /catalog/
# http://www.mysite.com/catalog/shop/ = RewriteBase /catalog/shop/
# Change the following line using the instructions above
 
#  RewriteBase / 

  RewriteRule ^(.*)\.html/a(.*)$ index.php/$2 [L]  
  RewriteRule ^(.*)\.html/b(.*)$ product_info.php/$2 [L]
  RewriteRule ^(.*)\.html/c(.*)$ content.php/$2 [L]
  RewriteRule ^(.*)\.html/d(.*)$ specials.php/$2 [L]
  RewriteRule ^(.*)\.html/e(.*)$ products_new.php/$2 [L]
  RewriteRule ^(.*)\.html/f(.*)$ newsletter_subscribe.php/$2 [L]
  RewriteRule ^(.*)\.html/g(.*)$ reviews.php/$2 [L]
  RewriteRule ^(.*)\.html/h(.*)$ product_reviews.php/$2 [L]
  RewriteRule ^(.*)\.html/i(.*)$ product_reviews_info.php/$2 [L]
  RewriteRule ^(.*)\.html/k(.*)$ tell_a_friend.php/$2 [L]
  RewriteRule ^(.*)\.html/l(.*)$ shopping_cart.php/$2 [L]
  RewriteRule ^(.*)\.html/m(.*)$ login.php/$2 [L]
  RewriteRule ^(.*)\.html/n(.*)$ create_account.php/$2 [L]
  RewriteRule ^(.*)\.html/o(.*)$ password_forgotten.php/$2 [L]
  RewriteRule ^(.*)\.html/p(.*)$ advanced_search_and_results.php/$2 [L]
  RewriteRule ^(.*)\.html/q(.*)$ search_result.php/$2 [L]
  RewriteRule ^(.*)\.html/r(.*)$ cookie_usage.php/$2 [L]        
</IfModule> 